<ul class="nav">
  <li>
    <a href={{ site.baseurl }}{% link index.md %}>トップページ</a>
  </li>
  <li class="nav">
    <a href={{ site.baseurl }}{% link about.md %}>Aboutページ</a>
  </li>
  <li class="nav">
    <a href={{ site.baseurl }}{% link toc.md %}>目次</a>
  </li>

  {% comment %} Use pathname to check if "current page" is included in the collection {% endcomment %}

  {% assign match = site.sections | where: "path", page.path %}
  {% if match.size > 0 %}
    {% if page.sec > 1  %}
      <li class="nav">
        <a href="sec{{page.sec|minus: 1}}.html">前のセクション</a>
      </li>
    {% endif %}
    {% if page.sec < site.sections.size %}
      <li class="nav">
        <a href="sec{{page.sec|plus: 1}}.html">次のセクション</a>
      </li>
    {% endif %}
  {% endif %}
</ul>

